.backdrop {
	background: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: grid;
	place-items: center;

	.modal {
		width: 425px;
		height: 225px;
		border-radius: 5px;
		overflow: hidden;
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&__header {
			width: 100%;
			background: #ECECEC;
			text-align: center;
			padding: 7px;
			font-weight: bold;
		}

		&__inputs {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			padding: 0px 20px;
			margin-top: -10px;
			gap: 10px;
			align-items: center;

			& p {
				font-size: .8rem;
				font-weight: bold;
			}

			& input {
				width: 250px;
				border: 1px solid rgb(207, 207, 207);
				border-radius: 3px;
				padding: 4px 6px;
				
				&:focus {
					outline: 2px solid rgb(178, 220, 249);
				}
			}
		}

		&__buttons-container {
			display: flex;
			justify-content: center;
			padding-bottom: 10px;

			.cancel-btn {
				border: 0px;
				padding: 10px;
				background-color: #FECC67;
				cursor: pointer;

				&:hover {
					@include transition-ease;
					background-color: #f9db9e;
				}
			}

			.submit-btn {
				@extend .cancel-btn;
				background-color: #76C1B5;

				&:hover {
					@include transition-ease;
					background-color: #89e1d2;
				}
			}
		}
	}
}
